<a href="https://colab.research.google.com/github/igorsantiago546/SIVIG-GILQ/blob/main/C%C3%B3pia_de_SIVIG_GILQ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PROJETO SIVIG-GILQ

ETAPA 1

Importando bibliotecas

In [ ]:
import pandas as pd
import numpy as np

Leitura do banco de dados

In [ ]:
caminho = "SIVIG_GILQ_UTF8.csv"

In [ ]:
caminho = "SIVIG_GILQ_UTF8.csv"

df = pd.read_csv(caminho, sep=";", encoding="utf-8")

print("Arquivo carregado com sucesso!")
print("Linhas:", len(df))
print("Colunas:", len(df.columns))
df.head()

Arquivo carregado com sucesso!
Linhas: 16941
Colunas: 50

/tmp/ipython-input-635/1176086029.py:3: DtypeWarning: Columns (40) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(caminho, sep=";", encoding="utf-8")

,ID,Nome,Nome da Mae,Sexo,Data de Nascimento,Idade,Raca/Cor,Municipio,Estado,Pais,...,Data da Internacao,Diagnostico Final,CID Definitivo (codigo),CID Definitivo (descritivo),Etiologia,Tipo de Saida,Data da Saida,Data de Encerramento,Infeccao nosocomial,Tipo Vacina
0,1,Birico do Pamonhão,Maroca da Farofa,M,25/07/1993,31,BRANCA,SAO PAULO,SAO PAULO,BRASIL,...,NaN,CONFIRMADO,A90,DENGUE [DENGUE CLASSICO],...,ALTA,NaN,29/04/2024,NAO,...
1,2,Pitico do Cuscuz,Dalva Chicória,F,04/01/1981,44,BRANCA,SAO PAULO,SAO PAULO,BRASIL,...,NaN,CONFIRMADO,A90,DENGUE [DENGUE CLASSICO],...,ALTA,NaN,03/05/2024,NAO,...
2,3,Cafuringa do Xote,Ivone Pipoca,F,18/11/2004,20,BRANCA,SAO PAULO,SAO PAULO,BRASIL,...,29/07/2023,DESCARTADO,O981,"SIFILIS COMPLICANDO A GRAVIDEZ, O PARTO E O PU...",...,ACOMP. AMBULATORIAL,19/11/2024,02/12/2024,NAO,...
3,4,Germana da Canjica,Dona Dita Doce de Leite,F,14/01/2009,16,BRANCA,SAO PAULO,SAO PAULO,BRASIL,...,NaN,DESCARTADO,O986,DOENCAS CAUSADAS POR PROTOZOARIOS COMPLICANDO ...,...,ACOMP. AMBULATORIAL,NaN,01/11/2024,NAO,...
4,5,Neco Fofoca,Nazaré Pipoca,F,08/07/1986,38,NEGRA,COTIA,SAO PAULO,BRASIL,...,NaN,DESCARTADO,B182,HEPATITE VIRAL CRONICA C,Hepatite C,ACOMP. AMBULATORIAL,NaN,04/11/2024,NAO,...

VALIDAÇÃO DE DATAS

In [ ]:
# Verificar se a coluna existe
if "Data_do_Atendimento" in df.columns:

    # Converter para datetime
    df["Data_convertida"] = pd.to_datetime(
        df["Data_do_Atendimento"],
        format="%d/%m/%Y",
        errors="coerce"
    )

    # Filtrar datas inválidas
    datas_invalidas = df[
        df["Data_convertida"].isna() &
        df["Data_do_Atendimento"].notna()
    ]

    print("Quantidade de datas inválidas:", len(datas_invalidas))
    datas_invalidas.head()

else:
    print("Coluna Data_do_Atendimento não encontrada.")

Coluna Data_do_Atendimento não encontrada.

VERIFICANDO NOMES DAS COLUNAS

In [ ]:
print(df.columns.tolist())

['ID', 'Nome', 'Nome da Mae', 'Sexo', 'Data de Nascimento', 'Idade', 'Raca/Cor', 'Municipio', 'Estado', 'Pais', 'CID Entrada (codigo)', 'CID Entrada (descritivo)', 'Data do Atendimento', 'Semana Epidemiologica da Notificacao', 'Sintomatico', 'FEBRE', 'CEFALEIA', 'DOR RETRO ORBITÁRIA', 'MIALGIA', 'ARTRALGIA', 'NAUSEAS', 'VOMITOS', 'EXANTEMA', 'PROSTRACAO', 'DOR ABDOMINAL', 'SANGRAMENTO ', 'PLAQUETOPENIA', 'LEUCOPENIA', 'TOSSE ', 'ICTERICIA', 'RIGIDEZ DE NUCA', 'FOTOFOBIA', 'CONVULSÕES', 'PETEQUIAS', 'Data Primeiros Sintomas', 'Semana Epidemiologica Primeiros Sintomas', 'Data de Diagnostico', 'Criterio de Diagnostico', 'Tipo de Clinica', 'Paciente Hospitalizado', 'Data da Internacao', 'Diagnostico Final', 'CID Definitivo (codigo)', 'CID Definitivo (descritivo)', 'Etiologia', 'Tipo de Saida', 'Data da Saida', 'Data de Encerramento', 'Infeccao nosocomial', 'Tipo Vacina']

PADRONIZAÇÃO DOS NOMES DAS COLUNAS

In [ ]:
# Remover espaços extras no começo/fim
df.columns = df.columns.str.strip()

# Substituir espaços por underline
df.columns = df.columns.str.replace(" ", "_")

# Visualizar como ficaram
print(df.columns.tolist())

['ID', 'Nome', 'Nome_da_Mae', 'Sexo', 'Data_de_Nascimento', 'Idade', 'Raca/Cor', 'Municipio', 'Estado', 'Pais', 'CID_Entrada_(codigo)', 'CID_Entrada_(descritivo)', 'Data_do_Atendimento', 'Semana_Epidemiologica_da_Notificacao', 'Sintomatico', 'FEBRE', 'CEFALEIA', 'DOR_RETRO_ORBITÁRIA', 'MIALGIA', 'ARTRALGIA', 'NAUSEAS', 'VOMITOS', 'EXANTEMA', 'PROSTRACAO', 'DOR_ABDOMINAL', 'SANGRAMENTO', 'PLAQUETOPENIA', 'LEUCOPENIA', 'TOSSE', 'ICTERICIA', 'RIGIDEZ_DE_NUCA', 'FOTOFOBIA', 'CONVULSÕES', 'PETEQUIAS', 'Data_Primeiros_Sintomas', 'Semana_Epidemiologica_Primeiros_Sintomas', 'Data_de_Diagnostico', 'Criterio_de_Diagnostico', 'Tipo_de_Clinica', 'Paciente_Hospitalizado', 'Data_da_Internacao', 'Diagnostico_Final', 'CID_Definitivo_(codigo)', 'CID_Definitivo_(descritivo)', 'Etiologia', 'Tipo_de_Saida', 'Data_da_Saida', 'Data_de_Encerramento', 'Infeccao_nosocomial', 'Tipo_Vacina']

VALIDAÇÃO DA DATA DO ATENDIMENTO

In [ ]:
# Converter "Data_do_Atendimento" (dd/mm/aaaa) para data válida
df["Data_do_Atendimento_dt"] = pd.to_datetime(
    df["Data_do_Atendimento"],
    format="%d/%m/%Y",
    errors="coerce"
)

# Filtrar datas inválidas (existem, mas não converteram)
datas_invalidas = df[
    df["Data_do_Atendimento"].notna() &
    df["Data_do_Atendimento_dt"].isna()
]

print("Quantidade de datas inválidas:", len(datas_invalidas))

# Mostrar exemplos
datas_invalidas[["ID", "Data_do_Atendimento"]].head(10)

Quantidade de datas inválidas: 4

          ID Data_do_Atendimento
526      527          30/01/1201
6854    6855          05/03/2502
7023    7024          21/10/3202
13901  13902          19/08/8202

MARCAR REGISTROS COM DATA INVÁLIDA

In [ ]:
# Criar flag de erro de data
df["erro_data"] = df["Data_do_Atendimento_dt"].isna().astype(int)

print("Registros com erro de data:", df["erro_data"].sum())

Registros com erro de data: 183

FUNÇÃO BINARIA

In [ ]:
def sim_nao_para_binario(coluna):
    return (
        df[coluna]
        .astype(str)
        .str.strip()
        .str.upper()
        .apply(lambda x: 1 if x == "SIM" else 0)
    )

In [ ]:
# Lista de colunas de sintomas (já com underline e sem espaços extras)
sintomas = [
    "FEBRE", "CEFALEIA", "DOR_RETRO_ORBITÁRIA", "MIALGIA", "ARTRALGIA",
    "NAUSEAS", "VOMITOS", "EXANTEMA", "PROSTRACAO", "DOR_ABDOMINAL",
    "SANGRAMENTO", "PLAQUETOPENIA", "LEUCOPENIA", "TOSSE", "ICTERICIA",
    "RIGIDEZ_DE_NUCA", "FOTOFOBIA", "CONVULSÕES", "PETEQUIAS"
]

# Criar colunas novas binárias (minúsculas)
for col in sintomas:
    df[col.lower()] = sim_nao_para_binario(col)

# Conferir rapidamente
df[[c.lower() for c in sintomas]].head()

,febre,cefaleia,dor_retro_orbitária,mialgia,artralgia,nauseas,vomitos,exantema,prostracao,dor_abdominal,sangramento,plaquetopenia,leucopenia,tosse,ictericia,rigidez_de_nuca,fotofobia,convulsões,petequias
0,1,0,1,1,1,0,0,1,0,1,0,0,0,0,0,1,1,1,1
1,0,1,1,1,1,1,1,1,1,1,1,1,0,0,1,1,0,1,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,0,1,1,1,0,0,0,1,1,1,1,1,1,1,1
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

CRIAÇÃO DOS SCORES

In [ ]:
# ==========================
# SCORE DENGUE
# ==========================

df["score_dengue"] = (
    df["febre"] +
    df["cefaleia"] +
    df["dor_retro_orbitária"] +
    df["mialgia"] +
    df["artralgia"] +
    df["nauseas"] +
    df["vomitos"] +
    df["exantema"] +
    df["prostracao"] +
    df["dor_abdominal"] +
    df["sangramento"] +
    df["plaquetopenia"] +
    df["leucopenia"] +
    df["petequias"]
)

# ==========================
# SCORE LEPTOSPIROSE
# ==========================

df["score_lepto"] = (
    df["febre"] +
    df["cefaleia"] +
    df["mialgia"] +
    df["nauseas"] +
    df["vomitos"] +
    df["dor_abdominal"] +
    df["ictericia"] +
    df["tosse"]
)

# ==========================
# SCORE MENINGITE
# ==========================

df["score_meningite"] = (
    df["febre"] +
    df["cefaleia"] +
    df["vomitos"] +
    df["rigidez_de_nuca"] +
    df["fotofobia"] +
    df["convulsões"]
)

print("Scores criados com sucesso!")

Scores criados com sucesso!

In [ ]:
df[["score_dengue", "score_lepto", "score_meningite"]].describe()

       score_dengue   score_lepto  score_meningite
count  16941.000000  16941.000000     16941.000000
mean       3.405702      1.953958         1.459123
std        3.729526      2.229433         1.721606
min        0.000000      0.000000         0.000000
25%        0.000000      0.000000         0.000000
50%        0.000000      0.000000         0.000000
75%        7.000000      4.000000         3.000000
max       14.000000      8.000000         6.000000

In [ ]:
df[["score_dengue", "score_lepto", "score_meningite"]].head(10)

   score_dengue  score_lepto  score_meningite
0             7            3                4
1            11            6                4
2             0            0                0
3             9            6                6
4             0            0                0
5             0            0                0
6             0            0                0
7             0            0                0
8             0            0                0
9             0            0                0

In [ ]:
def classificar(row):
    maior = max(row["score_dengue"],
                row["score_lepto"],
                row["score_meningite"])

    if maior == 0:
        return "Sem suspeita"

    suspeitas = []

    if row["score_dengue"] == maior:
        suspeitas.append("Dengue")
    if row["score_lepto"] == maior:
        suspeitas.append("Leptospirose")
    if row["score_meningite"] == maior:
        suspeitas.append("Meningite")

    if len(suspeitas) > 1:
        return "Suspeita Mista - " + " / ".join(suspeitas)

    return "Suspeita de " + suspeitas[0]

df["classificacao"] = df.apply(classificar, axis=1)

VALIDAÇÃO AUTOMÁTICA

In [ ]:
def classificar(row):
    maior = max(row["score_dengue"],
                row["score_lepto"],
                row["score_meningite"])

    if maior == 0:
        return "Sem suspeita"

    suspeitas = []

    if row["score_dengue"] == maior:
        suspeitas.append("Dengue")
    if row["score_lepto"] == maior:
        suspeitas.append("Leptospirose")
    if row["score_meningite"] == maior:
        suspeitas.append("Meningite")

    if len(suspeitas) > 1:
        return "Suspeita Mista - " + " / ".join(suspeitas)

    return "Suspeita de " + suspeitas[0]

df["classificacao"] = df.apply(classificar, axis=1)

print("Classificação criada com sucesso!")

Classificação criada com sucesso!

In [ ]:
df[["score_dengue", "score_lepto", "score_meningite", "classificacao"]].head(10)

   score_dengue  score_lepto  score_meningite       classificacao
0             7            3                4  Suspeita de Dengue
1            11            6                4  Suspeita de Dengue
2             0            0                0        Sem suspeita
3             9            6                6  Suspeita de Dengue
4             0            0                0        Sem suspeita
5             0            0                0        Sem suspeita
6             0            0                0        Sem suspeita
7             0            0                0        Sem suspeita
8             0            0                0        Sem suspeita
9             0            0                0        Sem suspeita